@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    
}
body {
    padding-bottom: 100px;
}
#title {
    background: yellow;
    /*add CSS here*/
    width: auto;
    margin: 30px 100px;
    padding: 20px 50px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin: 30px 100px;
    padding: 5px 50px;
    margin-bottom: 80px
}

.topic {
    background: lightgray;
    /*add CSS here*/
    display: inline;
    margin:90px;
    padding: 7px;
}

